<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <g clip-path='url(#clip0_542_3443)'>
            <path
                d='M38.9355 6H9.56445C7.59586 6 6 7.59586 6 9.56445V38.9355C6 40.9041 7.59586 42.5 9.56445 42.5H38.9355C40.9041 42.5 42.5 40.9041 42.5 38.9355V9.56445C42.5 7.59586 40.9041 6 38.9355 6Z'
                fill='#3178C6'></path>
            <path
                d='M38.9355 6H9.56445C7.59586 6 6 7.59586 6 9.56445V38.9355C6 40.9041 7.59586 42.5 9.56445 42.5H38.9355C40.9041 42.5 42.5 40.9041 42.5 38.9355V9.56445C42.5 7.59586 40.9041 6 38.9355 6Z'
                fill='#3178C6'></path>
            <path
                fill-rule='evenodd'
                clip-rule='evenodd'
                d='M28.5943 35.0449V38.6137C29.1744 38.9111 29.8606 39.1341 30.6528 39.2828C31.4449 39.4315 32.2798 39.5059 33.1575 39.5059C34.0129 39.5059 34.8254 39.4241 35.5953 39.2605C36.3651 39.0969 37.0402 38.8274 37.6203 38.4519C38.2005 38.0765 38.6598 37.5858 38.9982 36.9798C39.3366 36.3738 39.5059 35.6248 39.5059 34.7326C39.5059 34.0858 39.4092 33.5189 39.2158 33.0319C39.0224 32.5449 38.7435 32.1118 38.379 31.7326C38.0146 31.3535 37.5776 31.0133 37.0681 30.7121C36.5586 30.411 35.984 30.1266 35.3443 29.859C34.8757 29.6657 34.4555 29.478 34.0835 29.2958C33.7116 29.1136 33.3955 28.9278 33.1352 28.7382C32.8748 28.5486 32.674 28.3478 32.5327 28.136C32.3914 27.924 32.3207 27.6843 32.3207 27.4166C32.3207 27.1713 32.3839 26.9501 32.5104 26.753C32.6369 26.556 32.8154 26.3869 33.0459 26.2456C33.2765 26.1044 33.5591 25.9947 33.8938 25.9166C34.2286 25.8385 34.6005 25.7995 35.0096 25.7995C35.3071 25.7995 35.6213 25.8219 35.9523 25.8664C36.2833 25.911 36.6162 25.9798 36.9509 26.0727C37.2856 26.1657 37.611 26.2828 37.9272 26.424C38.2433 26.5653 38.5352 26.7289 38.803 26.9148V23.5802C38.26 23.372 37.6668 23.2177 37.0234 23.1174C36.38 23.017 35.6418 22.9668 34.8088 22.9668C33.9608 22.9668 33.1575 23.0579 32.3988 23.24C31.6402 23.4222 30.9726 23.7066 30.3961 24.0932C29.8197 24.4798 29.3641 24.9724 29.0294 25.5709C28.6947 26.1694 28.5273 26.885 28.5273 27.7177C28.5273 28.7809 28.8342 29.688 29.4478 30.439C30.0614 31.1898 30.993 31.8255 32.2426 32.346C32.7335 32.5468 33.191 32.7437 33.615 32.9371C34.0389 33.1304 34.4053 33.3312 34.7139 33.5393C35.0226 33.7475 35.2662 33.9743 35.4447 34.2196C35.6232 34.4649 35.7125 34.7437 35.7125 35.0561C35.7125 35.2865 35.6567 35.5003 35.5451 35.6973C35.4335 35.8944 35.2643 36.0653 35.0375 36.2103C34.8106 36.3553 34.528 36.4687 34.1895 36.5504C33.8511 36.6323 33.4551 36.6731 33.0013 36.6731C32.2277 36.6731 31.4617 36.5375 30.7029 36.2661C29.9443 35.9947 29.2414 35.5877 28.5943 35.0449ZM22.5947 26.2519H27.1729V23.3232H14.4121V26.2519H18.9679V39.292H22.5947V26.2519Z'
                fill='white'></path>
        </g>
        <defs>
            <clipPath id='clip0_542_3443'>
                <rect
                    width='36.5'
                    height='36.5'
                    fill='white'
                    transform='translate(6 6)'></rect>
            </clipPath>
        </defs>
    </svg>
    <span>TypeScript</span>
</div>
