<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M9.96975 5.12317C7.23094 5.12317 5.20434 7.52036 5.29509 10.12C5.38219 12.6176 5.26903 15.8524 4.45472 18.4903C3.6375 21.1357 2.25638 22.812 0 23.0272V25.4564C2.25638 25.672 3.6375 27.3475 4.45463 29.9933C5.26903 32.6312 5.38209 35.8659 5.295 38.3635C5.20425 40.9629 7.23084 43.3604 9.97013 43.3604H38.0339C40.7727 43.3604 42.7989 40.9632 42.7082 38.3635C42.6211 35.8659 42.7342 32.6312 43.5486 29.9933C44.3658 27.3475 45.7435 25.6714 48 25.4564V23.0272C45.7436 22.8115 44.3659 21.136 43.5486 18.4903C42.7342 15.8528 42.6211 12.6176 42.7082 10.12C42.7989 7.52073 40.7727 5.12317 38.0339 5.12317H9.96937H9.96975ZM32.5424 28.6607C32.5424 32.2404 29.8723 34.4113 25.4412 34.4113H17.8983C17.6825 34.4113 17.4756 34.3256 17.323 34.173C17.1704 34.0205 17.0847 33.8135 17.0847 33.5978V14.8859C17.0847 14.6701 17.1704 14.4632 17.323 14.3106C17.4756 14.1581 17.6825 14.0724 17.8983 14.0724H25.3983C29.0931 14.0724 31.5179 16.0737 31.5179 19.1465C31.5179 21.3032 29.8867 23.234 27.8085 23.5722V23.6847C30.6375 23.995 32.5424 25.9544 32.5424 28.6607ZM24.6188 16.6513H20.3179V22.7263H23.9403C26.7406 22.7263 28.2847 21.5987 28.2847 19.5832C28.2844 17.6943 26.9569 16.6513 24.6188 16.6513ZM20.3179 25.1367V31.8315H24.777C27.6926 31.8315 29.237 30.6616 29.237 28.463C29.237 26.2644 27.6493 25.1364 24.5895 25.1364H20.3179V25.1367Z'
            fill='#7952B3'></path>
    </svg>
    <span>Bootstrap</span>
</div>
