<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M42.2222 9.06662L24.9736 39.91C24.6173 40.5467 23.7025 40.5505 23.3409 39.9168L5.75042 9.06951C5.35667 8.37887 5.94703 7.54242 6.72954 7.6822L23.9968 10.7687C24.1069 10.7884 24.2197 10.7882 24.3298 10.7681L41.2358 7.68666C42.0157 7.54452 42.6091 8.37467 42.2222 9.06662Z'
            fill='url(#paint0_linear_542_3424)'></path>
        <path
            d='M32.222 3.63406L19.4575 6.13516C19.3555 6.15512 19.2631 6.20843 19.1947 6.28669C19.1263 6.36495 19.0858 6.46374 19.0797 6.5675L18.2945 19.8287C18.2762 20.1411 18.5629 20.3835 18.8677 20.3132L22.4216 19.4931C22.7542 19.4163 23.0546 19.7093 22.9862 20.0436L21.9304 25.2139C21.8593 25.5617 22.186 25.8594 22.5258 25.7562L24.7208 25.0892C25.0611 24.9859 25.3881 25.2844 25.3162 25.6326L23.6383 33.754C23.5333 34.2619 24.2089 34.5388 24.4907 34.1034L24.6789 33.8125L35.0801 13.0551C35.2543 12.7075 34.9541 12.3113 34.5722 12.3849L30.9142 13.0909C30.5704 13.1572 30.2779 12.837 30.3749 12.5007L32.7625 4.22403C32.8596 3.88698 32.5661 3.5666 32.222 3.63406Z'
            fill='url(#paint1_linear_542_3424)'></path>
        <defs>
            <linearGradient
                id='paint0_linear_542_3424'
                x1='5.32088'
                y1='6.57977'
                x2='26.787'
                y2='35.7325'
                gradientUnits='userSpaceOnUse'
            >
                <stop stop-color='#41D1FF'></stop>
                <stop offset='1' stop-color='#BD34FE'></stop>
            </linearGradient>
            <linearGradient
                id='paint1_linear_542_3424'
                x1='23.0048'
                y1='4.31301'
                x2='26.8879'
                y2='30.9508'
                gradientUnits='userSpaceOnUse'
            >
                <stop stop-color='#FFEA83'></stop>
                <stop offset='0.0833' stop-color='#FFDD35'></stop>
                <stop offset='1' stop-color='#FFA800'></stop>
            </linearGradient>
        </defs>
    </svg>
    <span>Vite</span>
</div>
