<div data-tooltip='GitHub'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M24 4C12.3975 4 3 13.3975 3 25C3 34.2925 9.01125 42.1412 17.3587 44.9237C18.4087 45.1075 18.8025 44.4775 18.8025 43.9262C18.8025 43.4275 18.7763 41.7737 18.7763 40.015C13.5 40.9862 12.135 38.7287 11.715 37.5475C11.4788 36.9437 10.455 35.08 9.5625 34.5812C8.8275 34.1875 7.7775 33.2162 9.53625 33.19C11.19 33.1637 12.3713 34.7125 12.765 35.3425C14.655 38.5187 17.6738 37.6262 18.8813 37.075C19.065 35.71 19.6162 34.7912 20.22 34.2662C15.5475 33.7412 10.665 31.93 10.665 23.8975C10.665 21.6137 11.4788 19.7237 12.8175 18.2537C12.6075 17.7287 11.8725 15.5762 13.0275 12.6887C13.0275 12.6887 14.7863 12.1375 18.8025 14.8412C20.4825 14.3687 22.2675 14.1325 24.0525 14.1325C25.8375 14.1325 27.6225 14.3687 29.3025 14.8412C33.3188 12.1112 35.0775 12.6887 35.0775 12.6887C36.2325 15.5762 35.4975 17.7287 35.2875 18.2537C36.6263 19.7237 37.44 21.5875 37.44 23.8975C37.44 31.9562 32.5312 33.7412 27.8588 34.2662C28.62 34.9225 29.2763 36.1825 29.2763 38.1512C29.2763 40.96 29.25 43.2175 29.25 43.9262C29.25 44.4775 29.6438 45.1337 30.6938 44.9237C34.8633 43.5174 38.4865 40.8384 41.0531 37.2641C43.6196 33.6898 45.0001 29.4003 45 25C45 13.3975 35.6025 4 24 4Z'
            fill='black'></path>
    </svg>
</div>

<style>
    body.dark-theme path {
        fill: white;
    }
</style>
