<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <g clip-path='url(#clip0_542_3449)'>
            <mask
                id='mask0_542_3449'
                style='mask-type:luminance'
                maskUnits='userSpaceOnUse'
                x='2'
                y='11'
                width='44'
                height='27'
            >
                <path d='M2 11H46V37.4H2V11Z' fill='white'></path>
            </mask>
            <g mask='url(#mask0_542_3449)'>
                <path
                    fill-rule='evenodd'
                    clip-rule='evenodd'
                    d='M24 11C18.1333 11 14.4667 13.9333 13 19.8C15.2 16.8667 17.7667 15.7667 20.7 16.5C22.3736 16.918 23.5698 18.1329 24.8939 19.4765C27.0507 21.6659 29.5473 24.2 35 24.2C40.8667 24.2 44.5333 21.2667 46 15.4C43.8 18.3333 41.2333 19.4333 38.3 18.7C36.6264 18.282 35.4302 17.0671 34.1061 15.7235C31.9493 13.5341 29.4527 11 24 11ZM13 24.2C7.13333 24.2 3.46667 27.1333 2 33C4.2 30.0667 6.76667 28.9667 9.7 29.7C11.3736 30.1188 12.5698 31.3329 13.8939 32.6765C16.0507 34.8659 18.5473 37.4 24 37.4C29.8667 37.4 33.5333 34.4667 35 28.6C32.8 31.5333 30.2333 32.6333 27.3 31.9C25.6264 31.482 24.4302 30.2671 23.1061 28.9235C20.9493 26.7341 18.4527 24.2 13 24.2Z'
                    fill='#38BDF8'></path>
            </g>
        </g>
        <defs>
            <clipPath id='clip0_542_3449'>
                <rect
                    width='44'
                    height='26.8889'
                    fill='white'
                    transform='translate(2 11)'></rect>
            </clipPath>
        </defs>
    </svg>
    <span>Tailwind</span>
</div>
