<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M3 13.0835C3 7.51435 7.51622 3 13.0877 3H34.9106C40.4838 3 45 7.51435 45 13.0835V45H13.0877C7.51622 45 3 40.4857 3 34.9165V13.0835Z'
            fill='#74AA9C'></path>
        <path
            d='M22.3281 8.2059C18.8688 8.2059 15.7957 10.429 14.7247 13.7122C12.5007 14.1697 10.5806 15.5598 9.45551 17.5297C7.72065 20.523 8.11724 24.2864 10.4409 26.8518C9.72281 29.0016 9.96915 31.3522 11.1152 33.2994C12.8396 36.3031 16.3093 37.8434 19.7039 37.1274C21.2082 38.8214 23.3693 39.7871 25.637 39.7784C29.0963 39.7784 32.1694 37.5553 33.2421 34.2721C35.4696 33.8128 37.3862 32.4227 38.5008 30.4563C40.2462 27.463 39.8496 23.6996 37.526 21.1325V21.122C38.244 18.9722 37.9977 16.6199 36.8516 14.6639C35.1272 11.6707 31.6575 10.1304 28.2734 10.8464C26.7604 9.15592 24.5958 8.19542 22.3281 8.2059ZM22.3281 10.2579L22.3176 10.2683C23.71 10.2683 25.0483 10.7486 26.1192 11.6375C26.0756 11.6585 25.99 11.7126 25.9271 11.744L19.6288 15.3695C19.3073 15.5511 19.1152 15.8934 19.1152 16.2671V24.7771L16.4054 23.2159V16.1815C16.4037 12.9141 19.054 10.2631 22.3281 10.2579ZM29.9139 12.736C32.0384 12.7325 34.0021 13.8624 35.0626 15.7013C35.7474 16.8993 36.0043 18.2999 35.7684 19.6568C35.7247 19.6254 35.6409 19.5817 35.5867 19.5503L29.2902 15.9143C28.9687 15.7327 28.5739 15.7327 28.2524 15.9143L20.8727 20.1702V17.0477L26.9648 13.5306C27.8611 13.0119 28.8779 12.7377 29.9139 12.736ZM14.3386 15.9667V23.4394C14.3386 23.8131 14.5308 24.1449 14.8523 24.337L22.2197 28.5807L19.4995 30.1524L13.4162 26.6457C10.5859 25.0076 9.61799 21.3909 11.2533 18.5636C11.9469 17.3656 13.037 16.447 14.3386 15.9667ZM28.4533 17.8179L34.5472 21.3246C37.3862 22.9609 38.3489 26.5741 36.7101 29.4067L36.7206 29.4172C36.0252 30.6152 34.9315 31.5338 33.637 32.0053V24.5309C33.637 24.1572 33.4448 23.8149 33.1233 23.6333L25.7454 19.3774L28.4533 17.8179ZM23.9773 20.3938L27.0836 22.189V25.7708L23.9773 27.5661L20.871 25.7708V22.189L23.9773 20.3938ZM28.8604 23.2159L31.5701 24.7771V31.801C31.5701 35.0719 28.9146 37.7247 25.6475 37.7247V37.7142C24.2656 37.7142 22.9168 37.2322 21.8563 36.345C21.9 36.3241 21.9961 36.2699 22.0485 36.2385L28.345 32.6148C28.6665 32.4332 28.8692 32.0909 28.8587 31.7172L28.8604 23.2159ZM27.0924 27.814V30.9365L20.9985 34.4432C18.1595 36.0691 14.5413 35.1069 12.9025 32.283H12.913C12.2177 31.0955 11.9696 29.6844 12.2054 28.3275C12.2491 28.3589 12.3347 28.4026 12.3871 28.434L18.6836 32.0699C19.0051 32.2516 19.3999 32.2516 19.7214 32.0699L27.0924 27.814Z'
            fill='white'></path>
    </svg>
    <span>ChatGPT</span>
</div>
