<div data-tooltip='Astro'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M31.1748 1.49524C31.5708 1.98071 31.7727 2.63578 32.1766 3.94594L41 32.5675C37.7377 30.8964 34.1913 29.6911 30.4512 29.0409L24.7063 9.87046C24.6123 9.55679 24.3205 9.34161 23.9893 9.34161C23.6572 9.34161 23.3649 9.55791 23.2716 9.87266L17.5963 29.0312C13.8388 29.6785 10.2762 30.886 7 32.5631L15.8667 3.93931C16.2718 2.63141 16.4744 1.97745 16.8704 1.49288C17.2201 1.06509 17.6748 0.73285 18.1914 0.527828C18.7765 0.295593 19.469 0.295593 20.8541 0.295593H27.1871C28.574 0.295593 29.2675 0.295593 29.8531 0.528312C30.3701 0.733759 30.8252 1.06667 31.1748 1.49524Z'
            fill='black'></path>
        <path
            d='M32.1329 33.4605C30.6784 34.6887 27.7751 35.5263 24.431 35.5263C20.3265 35.5263 16.8863 34.2645 15.9734 32.5675C15.647 33.5401 15.5739 34.6532 15.5739 35.3642C15.5739 35.3642 15.3588 38.8557 17.8181 41.2842C17.8181 40.0232 18.8533 39.001 20.1302 39.001C22.319 39.001 22.3165 40.8866 22.3145 42.4164C22.3145 42.4622 22.3144 42.5077 22.3144 42.5529C22.3144 44.8749 23.7516 46.8654 25.7954 47.7044C25.4901 47.0844 25.3189 46.3881 25.3189 45.6523C25.3189 43.4378 26.6355 42.6132 28.1658 41.6549C29.3833 40.8924 30.736 40.0452 31.6683 38.3458C32.1547 37.4591 32.4309 36.4435 32.4309 35.3642C32.4309 34.7005 32.3265 34.0608 32.1329 33.4605Z'
            fill='#FF5D01'></path>
    </svg>
</div>

<style>
    body.dark-theme path:first-child {
        fill: white;
    }
</style>
