<div class='skill-icon'>
    <svg
        width='45'
        height='45'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <rect width='48' height='48' rx='8' fill='#2C2E35'></rect>
        <mask
            id='mask0_127_941'
            style='mask-type:luminance'
            maskUnits='userSpaceOnUse'
            x='14'
            y='9'
            width='20'
            height='30'
        >
            <path d='M34 9H14V39H34V9Z' fill='white'></path>
        </mask>
        <g mask='url(#mask0_127_941)'>
            <path
                d='M24 24C24 22.6739 24.5268 21.4022 25.4645 20.4645C26.4022 19.5268 27.6739 19 29 19C30.3261 19 31.5978 19.5268 32.5355 20.4645C33.4732 21.4022 34 22.6739 34 24C34 25.3261 33.4732 26.5978 32.5355 27.5355C31.5978 28.4732 30.3261 29 29 29C27.6739 29 26.4022 28.4732 25.4645 27.5355C24.5268 26.5978 24 25.3261 24 24Z'
                fill='#1ABCFE'></path>
            <path
                d='M14 34C14 32.6739 14.5268 31.4022 15.4645 30.4645C16.4021 29.5268 17.6739 29 19 29H24V34C24 35.3261 23.4732 36.5978 22.5355 37.5355C21.5978 38.4732 20.3261 39 19 39C17.6739 39 16.4021 38.4732 15.4645 37.5355C14.5268 36.5978 14 35.3261 14 34Z'
                fill='#0ACF83'></path>
            <path
                d='M24 9V19H29C30.3261 19 31.5978 18.4732 32.5355 17.5355C33.4732 16.5978 34 15.3261 34 14C34 12.6739 33.4732 11.4021 32.5355 10.4645C31.5978 9.52678 30.3261 9 29 9H24Z'
                fill='#FF7262'></path>
            <path
                d='M14 14C14 15.3261 14.5268 16.5978 15.4645 17.5355C16.4021 18.4732 17.6739 19 19 19H24V9H19C17.6739 9 16.4021 9.52678 15.4645 10.4645C14.5268 11.4021 14 12.6739 14 14Z'
                fill='#F24E1E'></path>
            <path
                d='M14 24C14 25.3261 14.5268 26.5978 15.4645 27.5355C16.4021 28.4732 17.6739 29 19 29H24V19H19C17.6739 19 16.4021 19.5268 15.4645 20.4645C14.5268 21.4022 14 22.6739 14 24Z'
                fill='#A259FF'></path>
        </g>
    </svg>
    <span>Figma</span>
</div>
