<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M2 17.2857C2 11.5852 2 8.7349 3.10939 6.5576C4.08525 4.64238 5.64238 3.08525 7.5576 2.10939C9.7349 1 12.5852 1 18.2857 1H30.7143C36.4149 1 39.2651 1 41.4423 2.10939C43.3576 3.08525 44.9147 4.64238 45.8906 6.5576C47 8.7349 47 11.5852 47 17.2857V29.7143C47 35.4149 47 38.2651 45.8906 40.4423C44.9147 42.3576 43.3576 43.9147 41.4423 44.8906C39.2651 46 36.4149 46 30.7143 46H18.2857C12.5852 46 9.7349 46 7.5576 44.8906C5.64238 43.9147 4.08525 42.3576 3.10939 40.4423C2 38.2651 2 35.4149 2 29.7143V17.2857Z'
            fill='#470137'></path>
        <path
            d='M25.539 14.2329L19.9242 23.7382L25.9313 33.8315C26.0562 34.0604 25.9313 34.111 25.7504 34.111H21.4638C21.1618 34.111 20.9505 34.1001 20.8298 33.8935C20.4269 33.0885 20.0244 32.2887 19.6222 31.4939C19.2194 30.6995 18.7918 29.8893 18.3394 29.0634C17.8865 28.2382 17.4387 27.4023 16.9959 26.5557C16.5932 27.3814 16.1453 28.207 15.713 29.0326C15.28 29.8583 14.8523 30.6788 14.43 31.4939C14.0074 32.3095 13.5747 33.1197 13.132 33.9244C13.0513 34.1102 12.9102 34.1293 12.7093 34.1293H8.57365C8.41115 34.1293 8.39155 34.0072 8.48311 33.8625L14.3092 24.0477L8.63398 14.2019C8.5309 14.0614 8.61962 13.9118 8.78496 13.9232H13.0413C13.2256 13.9129 13.3885 13.9823 13.4942 14.14C13.8564 14.9657 14.2589 15.7915 14.7016 16.6169C15.144 17.4427 15.5919 18.2581 16.045 19.0628C16.4979 19.8678 16.9456 20.6831 17.328 21.5089C17.7303 20.6627 18.1378 19.8372 18.5505 19.032C18.9629 18.227 19.3854 17.4168 19.8184 16.6015C20.2511 15.7863 20.6686 14.9762 21.0712 14.171C21.1247 13.9944 21.2526 13.9049 21.4334 13.9232H25.388C25.539 13.9232 25.6014 14.1294 25.539 14.2329Z'
            fill='#FF61F6'></path>
        <path
            d='M34.2024 34.5129C31.5401 34.5546 28.7516 33.4583 27.3498 31.0298C26.6655 29.8638 26.3233 28.4036 26.3235 26.6487C26.3121 25.2277 26.6662 23.8287 27.3498 22.5928C29.114 19.4392 32.668 18.2577 36.0438 18.5678V12.4683C36.0438 12.3242 36.1043 12.2516 36.225 12.2516H40.0286C40.1326 12.2364 40.2245 12.3307 40.2097 12.4374V30.7357C40.2097 31.4906 40.2846 32.2429 40.3306 32.9958C40.338 33.1244 40.2635 33.2517 40.1493 33.3055C38.27 34.1094 36.2365 34.5036 34.2024 34.5129ZM36.0438 30.6736V22.2212C33.2866 21.4552 30.6098 23.5553 30.6101 26.4629C30.5447 29.4691 33.136 31.546 36.0438 30.6736Z'
            fill='#FF61F6'></path>
    </svg>

    <span>AdobeXD</span>
</div>
