<div data-tooltip='VSCode'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M43.5187 7.42374L34.8697 3.25974C34.3813 3.02423 33.8317 2.94652 33.2971 3.03736C32.7625 3.1282 32.2694 3.38311 31.8862 3.76674L3.57371 29.5787C3.23019 29.8904 3.02457 30.3258 3.00206 30.7891C2.97956 31.2524 3.14202 31.7057 3.45371 32.0492C3.49121 32.0897 3.52871 32.1287 3.56921 32.1647L5.88071 34.2647C6.18275 34.5396 6.57154 34.7001 6.97955 34.7181C7.38756 34.7362 7.78902 34.6108 8.11421 34.3637L42.2167 8.50374C42.4743 8.30827 42.7813 8.18859 43.1032 8.15816C43.4252 8.12773 43.7492 8.18776 44.0388 8.33149C44.3285 8.47523 44.5723 8.69696 44.7427 8.97172C44.9132 9.24649 45.0036 9.56339 45.0037 9.88674V9.78624C45.0037 9.29259 44.8643 8.80897 44.6016 8.39103C44.3389 7.97309 43.9635 7.6378 43.5187 7.42374Z'
            fill='#0065A9'></path>
        <path
            d='M43.5187 40.3337L34.8697 44.4992C34.3811 44.734 33.8317 44.8114 33.2973 44.7206C32.7628 44.6297 32.2698 44.3752 31.8862 43.9922L3.57371 18.1787C3.23019 17.867 3.02457 17.4316 3.00206 16.9683C2.97956 16.505 3.14202 16.0517 3.45371 15.7082C3.49121 15.6677 3.52871 15.6287 3.56921 15.5927L5.88071 13.4927C6.18306 13.2166 6.57274 13.0555 6.98176 13.0374C7.39077 13.0193 7.79316 13.1454 8.11871 13.3937L42.2167 39.2537C42.4743 39.4492 42.7813 39.5688 43.1032 39.5993C43.4252 39.6297 43.7492 39.5697 44.0388 39.4259C44.3285 39.2822 44.5723 39.0605 44.7427 38.7857C44.9132 38.5109 45.0036 38.194 45.0037 37.8707V37.9787C45.0021 38.471 44.862 38.953 44.5994 39.3694C44.3368 39.7859 43.9623 40.12 43.5187 40.3337Z'
            fill='#007ACC'></path>
        <path
            d='M34.8697 44.4992C34.3811 44.734 33.8317 44.8114 33.2973 44.7206C32.7628 44.6297 32.2698 44.3752 31.8862 43.9922C32.1016 44.2048 32.375 44.3491 32.672 44.407C32.9691 44.4649 33.2766 44.4338 33.5561 44.3177C33.8356 44.2016 34.0746 44.0056 34.2432 43.7542C34.4118 43.5029 34.5024 43.2073 34.5037 42.9047V4.85269C34.504 4.54863 34.414 4.25133 34.2451 3.99845C34.0763 3.74558 33.8362 3.54851 33.5552 3.43221C33.2743 3.31592 32.9651 3.28562 32.6669 3.34516C32.3688 3.40471 32.095 3.55141 31.8802 3.76669C32.2635 3.38321 32.7565 3.12829 33.291 3.03719C33.8255 2.94609 34.375 3.02332 34.8637 3.25819L43.5112 7.41619C43.9574 7.62919 44.3343 7.96402 44.5984 8.38205C44.8625 8.80007 45.003 9.28424 45.0037 9.77869V37.9787C45.0038 38.4728 44.8644 38.9568 44.6014 39.375C44.3384 39.7933 43.9626 40.1287 43.5172 40.3427L34.8697 44.4992Z'
            fill='#1F9CF0'></path>
    </svg>
</div>
