<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M20.4132 44.5608C19.8772 44.5608 19.3668 44.3339 19.0077 43.935L2.84878 25.9803C2.30057 25.3707 2 24.5843 2 23.7657C2 22.9472 2.30151 22.1617 2.84972 21.5521L19.0077 3.5983C19.7251 2.80057 21.1013 2.80057 21.8187 3.5983L37.9785 21.553C39.1127 22.8139 39.1127 24.7185 37.9785 25.9794L21.8187 43.935C21.4595 44.3339 20.9491 44.5608 20.4132 44.5608Z'
            fill='url(#paint0_linear_127_929)'></path>
        <path
            opacity='0.05'
            d='M38.8254 23.7666C38.8254 24.5606 38.5418 25.3545 37.9747 25.9784L23.4 42.1883L23.0786 42.538L17.3602 36.1864C16.3867 35.0994 16.3867 33.4737 17.3602 32.3867L24.3262 24.6457C24.7799 24.1447 24.7799 23.3886 24.3262 22.8876L17.3602 15.1465C16.3867 14.0596 16.3867 12.4339 17.3602 11.3469L23.0786 4.99524L23.4 5.34496L37.9747 21.5549C38.5418 22.1787 38.8254 22.9727 38.8254 23.7666Z'
            fill='black'></path>
        <path
            opacity='0.05'
            d='M38.8254 23.7666C38.8254 24.5606 38.5418 25.3545 37.9747 25.9784L23.4 42.1883L17.7099 35.865C16.8971 34.9671 16.8971 33.606 17.7099 32.7081L24.676 24.967C25.2903 24.277 25.2903 23.2562 24.676 22.5662L17.7099 14.8252C16.8971 13.9273 16.8971 12.5662 17.7099 11.6683L23.4 5.34497L37.9747 21.5549C38.5418 22.1787 38.8254 22.9727 38.8254 23.7666Z'
            fill='black'></path>
        <path
            d='M27.0125 44.5607C26.4765 44.5607 25.9661 44.3339 25.607 43.935L18.0606 35.5503C17.4131 34.831 17.4141 33.7402 18.0606 33.021L25.0276 25.2808C25.8045 24.4179 25.8045 23.1164 25.0276 22.2534L18.0606 14.5133C17.4141 13.794 17.4131 12.7032 18.0606 11.984L25.607 3.59922C26.3244 2.80148 27.7005 2.80148 28.4179 3.59922L44.5778 21.554C45.712 22.8148 45.712 24.7184 44.5787 25.9803L28.417 43.935C28.0588 44.3339 27.5484 44.5607 27.0125 44.5607Z'
            fill='url(#paint1_linear_127_929)'></path>
        <path
            d='M36.9454 33.5238C36.4095 33.5238 35.8991 33.297 35.5409 32.8981L29.314 25.9803C28.7648 25.3697 28.4633 24.5824 28.4643 23.7629C28.4643 22.9453 28.7667 22.1608 29.314 21.5521L35.5399 14.6352C36.2564 13.8375 37.6335 13.8375 38.35 14.6352L44.5768 21.553C45.7111 22.8158 45.7111 24.7175 44.5778 25.9793L38.35 32.8981C37.9927 33.297 37.4813 33.5238 36.9454 33.5238Z'
            fill='url(#paint2_linear_127_929)'></path>
        <defs>
            <linearGradient
                id='paint0_linear_127_929'
                x1='16.8574'
                y1='3.59547'
                x2='23.9746'
                y2='43.9615'
                gradientUnits='userSpaceOnUse'
            >
                <stop offset='0.003' stop-color='#A33094'></stop>
                <stop offset='0.998' stop-color='#6D246B'></stop>
            </linearGradient>
            <linearGradient
                id='paint1_linear_127_929'
                x1='26.9208'
                y1='2.98485'
                x2='34.039'
                y2='43.3509'
                gradientUnits='userSpaceOnUse'
            >
                <stop stop-color='#E288C5'></stop>
                <stop offset='0.998' stop-color='#D76DBB'></stop>
            </linearGradient>
            <linearGradient
                id='paint2_linear_127_929'
                x1='35.2772'
                y1='14.2997'
                x2='38.6193'
                y2='33.2582'
                gradientUnits='userSpaceOnUse'
            >
                <stop offset='0.006' stop-color='#E9A0CB'></stop>
                <stop offset='0.998' stop-color='#E48DC7'></stop>
            </linearGradient>
        </defs>
    </svg>
    <span>PowerApps</span>
</div>
