<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M24.5066 43.5803C23.9684 43.5803 23.435 43.4397 22.9634 43.1678L18.0509 40.2587C17.3169 39.8481 17.675 39.7028 17.9169 39.6193C18.8956 39.2772 19.0934 39.1993 20.1378 38.6059C20.2475 38.5431 20.3909 38.5656 20.5034 38.6322L24.2778 40.8718C24.4138 40.9459 24.6078 40.9459 24.7334 40.8718L39.4494 32.3772C39.5853 32.2993 39.6744 32.1418 39.6744 31.9797V14.9987C39.6744 14.829 39.5863 14.6781 39.4466 14.5937L24.7372 6.1056C24.6013 6.02497 24.4203 6.02497 24.2844 6.1056L9.57687 14.5928C9.43437 14.6734 9.34344 14.8318 9.34344 14.994V31.9759C9.34344 32.1381 9.43156 32.2928 9.57219 32.3697L13.6025 34.6975C15.7906 35.7915 17.1275 34.5025 17.1275 33.2059V16.4462C17.1275 16.2072 17.315 16.0225 17.555 16.0225H19.4187C19.6512 16.0225 19.8425 16.2062 19.8425 16.4462V33.2143C19.8425 36.1318 18.2516 37.8081 15.485 37.8081C14.6337 37.8081 13.9634 37.8081 12.0922 36.8875L8.23156 34.6628C7.27719 34.1097 6.6875 33.0775 6.6875 31.9768V14.995C6.6875 13.8897 7.27719 12.8584 8.23062 12.3128L22.9625 3.81435C23.8944 3.28747 25.1319 3.28747 26.0572 3.81435L40.7703 12.3165C41.7191 12.865 42.3125 13.8934 42.3125 14.9987V31.9806C42.3125 33.0822 41.7191 34.1097 40.7694 34.6628L26.0562 43.1603C25.5847 43.4331 25.0503 43.5728 24.5056 43.5728'
            fill='#21A366'></path>
        <path
            d='M29.0525 31.8784C22.6138 31.8784 21.2638 28.9225 21.2638 26.4437C21.2638 26.2084 21.4541 26.02 21.6904 26.02H23.5916C23.8016 26.02 23.9788 26.1728 24.0116 26.38C24.2985 28.3169 25.1535 29.2937 29.0469 29.2937C32.1482 29.2937 33.4672 28.5934 33.4672 26.9481C33.4672 26.0012 33.0913 25.2981 28.2735 24.8266C24.2432 24.4291 21.7532 23.5412 21.7532 20.3181C21.7532 17.3491 24.2582 15.5809 28.4535 15.5809C33.1654 15.5809 35.5007 17.2169 35.795 20.7306C35.8063 20.8525 35.7622 20.9697 35.6807 21.0587C35.6 21.1431 35.4857 21.1947 35.3675 21.1947H33.456C33.2572 21.1947 33.0838 21.055 33.0435 20.8628C32.5832 18.8256 31.4704 18.1741 28.446 18.1741C25.0607 18.1741 24.6669 19.3525 24.6669 20.2366C24.6669 21.3081 25.131 21.6212 29.6985 22.2259C34.2219 22.8259 36.3697 23.6734 36.3697 26.8525C36.3697 30.0569 33.695 31.8953 29.0319 31.8953'
            fill='#21A366'></path>
    </svg>
    <span>NodeJS</span>
</div>
