<div class='skill-icon alt-dark'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <path
            d='M24.2159 36.2125H25.3222C26.1097 36.2125 26.8513 35.845 27.3275 35.2178L34.3447 25.9863L41.3619 35.2178C41.8381 35.8441 42.5797 36.2125 43.3672 36.2125H44.4734L35.5213 24.4375L44.0722 13.1875H42.9659C42.1784 13.1875 41.4369 13.555 40.9606 14.1822L34.3438 22.8878L27.7259 14.1813C27.2497 13.555 26.5081 13.1875 25.7206 13.1875H24.6144L33.1653 24.4375L24.2159 36.2125Z'
            fill='#212121'></path>
        <path
            d='M24.5 25.375V22.5625C24.5 16.3047 18.9266 11.3491 12.4728 12.3888C7.44875 13.1978 3.875 17.7409 3.875 22.8288V23.5V25.375V25.5081C3.875 31.6516 8.35344 36.5575 14.0638 36.625C18.8375 36.6813 22.8659 33.49 24.1016 29.1259H23.1378C22.5566 29.1259 22.0297 29.4588 21.7775 29.9819C20.1472 33.3522 16.3503 35.4775 12.1888 34.5213C8.3525 33.6391 5.75 30.0447 5.75 26.1091V25.375H24.5ZM5.75 23.2281C5.75 18.8144 8.37875 15.2059 12.2412 14.3425C17.7481 13.1125 22.625 17.2675 22.625 22.5625V23.5H5.75V23.2281Z'
            fill='#212121'></path>
    </svg>
    <span>Express</span>
</div>
