<div class='skill-icon'>
    <svg
        width='48'
        height='48'
        viewBox='0 0 48 48'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <g clip-path='url(#clip0_542_3616)'>
            <path
                d='M24.5 46C36.9264 46 47 35.9264 47 23.5C47 11.0736 36.9264 1 24.5 1C12.0736 1 2 11.0736 2 23.5C2 35.9264 12.0736 46 24.5 46Z'
                fill='#13AA52'></path>
            <path
                d='M30.5143 20.7508C29.0931 14.4785 25.7344 12.4161 25.3727 11.6282C24.9772 11.0723 24.5764 10.0835 24.5764 10.0835C24.5698 10.0668 24.5593 10.0374 24.547 10.0088C24.5061 10.5647 24.485 10.7792 23.9594 11.3399C23.1456 11.9762 18.9699 15.48 18.6302 22.6062C18.3134 29.2524 23.4312 33.2128 24.1234 33.7177L24.202 33.7735V33.7687C24.2064 33.8021 24.4217 35.3507 24.5729 36.9916H25.1152C25.2424 35.8317 25.4332 34.6797 25.6865 33.5406L25.7304 33.5121C26.04 33.2901 26.3352 33.0486 26.6142 32.7892L26.6458 32.7606C28.1171 31.4014 30.7622 28.2575 30.7363 23.2451C30.7308 22.409 30.6565 21.5747 30.5143 20.7508ZM24.5154 29.9652C24.5154 29.9652 24.5154 20.6436 24.823 20.6453C25.0629 20.6453 25.3736 32.6692 25.3736 32.6692C24.9465 32.6178 24.5154 30.6903 24.5154 29.9652Z'
                fill='white'></path>
        </g>
        <defs>
            <clipPath id='clip0_542_3616'>
                <rect
                    width='45'
                    height='45'
                    fill='white'
                    transform='translate(2 1)'></rect>
            </clipPath>
        </defs>
    </svg>
    <span>MongoDB</span>
</div>
