<a href="_astro/Resume_MarcoHernandez.pdf" download data-astro-reload>
    <svg
        width="20"
        height="20"
        viewBox="0 0 21 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M19.5 13.25V17.25C19.5 17.7804 19.2893 18.2891 18.9142 18.6642C18.5391 19.0393 18.0304 19.25 17.5 19.25H3.5C2.96957 19.25 2.46086 19.0393 2.08579 18.6642C1.71071 18.2891 1.5 17.7804 1.5 17.25V13.25"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <path
            d="M5.5 8.25L10.5 13.25L15.5 8.25"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <path
            d="M10.5 13.25V1.25"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path> 
    </svg>
    <span>Resume</span>
</a> 

<style>
    a{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        margin-left: 10px;
        color: var(--clr-accent);
        font-weight: 600;
        text-decoration: none;
        border-radius: .125rem;
        transition: background-color 250ms;
    }
    a:hover {
        background-color: var(--clr-btn-hover);
    }
    a:hover span{
        text-decoration: underline;
    }
</style>