:root {
    /* Colors */
    --clr-accent: hsl(226 100% 18%);
    --clr-body-bg: hsl(0 0% 100%);
    --clr-title-highlight: hsl(223 100% 46%);
    --clr-subtitle: hsl(0 0% 18%);
    --clr-txt: hsl(0 0% 32%);
    --clr-footer-bg: hsl(0 0% 95%);
    --clr-btn-hover: hsl(0 0% 80%);

    /* Fonts */
    --step--2: clamp(0.5208rem, 0.4811rem + 0.1986vi, 0.64rem);
    --step--1: clamp(0.625rem, 0.5667rem + 0.2917vi, 0.8rem);
    --step-0: clamp(0.75rem, 0.6667rem + 0.4167vi, 1rem);
    --step-1: clamp(1rem, 0.7833rem + 0.5833vi, 1.125rem);
    --step-2: clamp(1.08rem, 0.9192rem + 0.8042vi, 1.3625rem);
    --step-3: clamp(1.296rem, 1.077rem + 1.0952vi, 1.9531rem);
    --step-4: clamp(1.7552rem, 1.2598rem + 1.477vi, 2.4414rem);
    --step-5: clamp(1.8662rem, 1.4711rem + 1.9759vi, 3.0518rem);

    /* Animations */
    --spd-clr-hover: 250ms;
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-accent: hsl(0 0% 100%);
        --clr-body-bg: hsl(232, 25%, 19%);
        --clr-title-highlight: hsl(223 100% 63%);
        --clr-subtitle: hsl(0 0% 100%);
        --clr-txt: hsl(0 0% 98%);
        --clr-footer-bg: hsl(232 28% 15%);
        --clr-btn-hover: hsl(244, 38%, 34%);
    }
}

.light-theme {
    --clr-accent: hsl(226 100% 18%);
    --clr-body-bg: hsl(0 0% 100%);
    --clr-title-highlight: hsl(223 100% 46%);
    --clr-subtitle: hsl(0 0% 18%);
    --clr-txt: hsl(0 0% 32%);
    --clr-footer-bg: hsl(0 0% 95%);
    --clr-btn-hover: hsl(0 0% 80%);
}

.dark-theme {
    --clr-accent: hsl(0 0% 100%);
    --clr-body-bg: hsl(232, 25%, 19%);
    --clr-title-highlight: hsl(223 100% 63%);
    --clr-subtitle: hsl(0 0% 100%);
    --clr-txt: hsl(0 0% 98%);
    --clr-footer-bg: hsl(232 28% 15%);
    --clr-btn-hover: hsl(244, 38%, 34%);
}

body {
    background: var(--clr-body-bg);
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: var(--step-4);
    color: var(--clr-subtitle);
    font-weight: 400;
    margin: 0 0 12px 0;
}

h2 {
    font-size: var(--step-2);
    color: var(--clr-accent);
    margin: 0 0 40px 0;
    text-align: center;
}

svg {
    color: var(--clr-accent);
}

p,
ul,
li,
div {
    font-size: var(--step-1);
    color: var(--clr-txt);
}

a {
    color: inherit;
}

/* Util */
[data-tooltip] {
    position: relative;
    cursor: help
}

[data-tooltip]::after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    content: attr(data-tooltip);
    left: 0;
    top: calc(100% + 5px);
    border-radius: 3px;
    box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
    background-color: var(--clr-accent);
    color: var(--clr-body-bg);
    z-index: 10;
    padding: 8px;
    width: fit-content;
    transform: translateY(-20px);
    transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover::after {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 300ms;
}