---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
---

<Layout title="Portfolio - Marco Hernandez">
	<Hero />
	<section>Projects</section>
	<section>Skills</section>
	<section>About</section>
</Layout> 

<style>
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
