---

---

<main>
    <div class="text-icons">
        <h1>
            <span class="highlight-1">Frontend Developer</span> specialized in <span
                class="highlight-2">UI/UX</span
            >
        </h1>
        <div class="description">
            <p>
                With a solid foundation in Digital Design, I can bridge the gap between design and development
            </p>
            <p>
                I am currently open to work. Feel free to reach out to me at <a href="mh94.design@gmail.com">mh94.design@gmail.com</a>
            </p>
        </div>
        <div class="icons-wrapper">
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div class="icon"></div>
            <div id="resume"></div>
        </div>
    </div>
    
    <picture>
        Yo
    </picture>
</main>

<style>
    main{
        display: flex;
        gap: 20px;
    }
    .text-icons{
        display: flex;
        flex-direction: column;
        outline: 1px solid green;
    }
    h1 {
        font-size: 36px;
        color: var(--clr-subtitle);
        font-weight: 400;
    }
    .highlight-1 {
        font-size: 40px;
        color: var(--clr-title-highlight);
    }
    .highlight-2 {
        color: var(--clr-title-highlight-2);
    }
    .description {
        color: var(--clr-subtitle);
    }
    .icons-wrapper{
        display: flex;
    }
    .icon {
        width: 40px;
        height: 40px;
        outline: 1px solid brown;
    }

    picture{
        display: grid;
        place-content: center;
        background-color: gray;
        width: 100%;
    }
</style>

