---
import LinkedInIcon from "@/icons/Linkedin.astro";
import GitHubIcon from "@/icons/Github.astro";
import CodePenIcon from "@/icons/Codepen.astro";
import EmailIcon from "@/icons/Email.astro";
import Resume from "@/icons/Download.astro";
---

<ul role="list">
    <li>
        <a href="https://www.linkedin.com/in/mhernandez-dev/" target="_blank">
            <LinkedInIcon />
        </a>
    </li>
    <li>
        <a href="https://github.com/BodomOW" target="_blank">
            <GitHubIcon />
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/mhernandez-dev/" target="_blank"
            ><CodePenIcon />
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/mhernandez-dev/" target="_blank">
            <EmailIcon />
        </a>
    </li>
    <Resume />
</ul>

<style>
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    a {
        display: grid;
        place-content: center;
        width: 40px;
        height: 40px;
        border-radius: .125rem;
        transition: background-color 250ms;
        /* outline: 1px solid brown; */
    }
    a:hover {
        cursor: pointer;
        background-color: var(--clr-btn-hover);
    }
    @media only screen and (max-width: 475px){
        a {
            width: 36px;
            height: 36px;
        }
    }
</style>
