<div>
    <svg
        width="56"
        height="60"
        viewBox="0 0 56 60"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M28.0015 44.8248L33.622 35.1312H43.5068V54.3397L52 59.5385V3.79427L44.9802 0.461548L28.0093 30.1562L11.0229 0.461548L4 3.79427V59.5385L12.4932 54.3397V35.1312H22.378L28 44.8248M12.4932 33.8664V18.0869L21.6421 33.8664H12.4932ZM34.361 33.8664L43.5099 18.0931V33.8664H34.361Z"
            fill="currentColor"></path>
    </svg>
    <!-- <span>
        <strong>Marco Hernandez</strong> Frontend Developer
    </span> -->
</div>

<style>
    div {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 10px 15px;
        font-size: var(--step-1);
        cursor: pointer;
    }
    span {
        display: flex;
        flex-direction: column;
        text-wrap: balance;
        color: var(--clr-accent);
    }
    strong {
        letter-spacing: 0.01rem;
    }
    
    @media only screen and (max-width: 475px) {
        div {
            gap: 0.375rem;
            padding: 5px 7px;
        }
        svg {
            max-width: 48px;
        }
        span {
            flex-wrap: nowrap;
        }
    }
</style>