---

---

<section>
    <h2>About me</h2>

    <p>
        My name is Marco Hernandez. Beginning my career as a Digital Designer, I
        collaborated with various brands on projects ranging from photography to
        UI/UX web design. This experience in crafting compelling layouts led to
        a natural transition into Frontend Development.
    </p>
    <p>
        Currently, specializing in designing and developing websites, I bring a
        comprehensive understanding of the entire website creation process. From
        user research and sketches to prototyping and development, being
        involved in every aspect is something I truly enjoy.
    </p>
</section>

<style>
    section {
        line-height: 1.6;
        margin-bottom: 32px;
    }
</style>
