---

---

<section>
    <h2>About</h2>

    <p>
        I began my professional career as a Digital Designer, collaborating with
        various brands on projects ranging from photography to UI/UX web design.
        My knack for creating compelling layouts naturally led me to transition
        into Frontend Development.
    </p>
    <p>
        Currently, I specialize in designing and developing websites. With my
        comprehensive background, I understand the entire website creation
        process. I enjoy being involved in every aspect, from user research and
        sketches to prototyping and development.
    </p>
</section>

<style>
    section {
        line-height: 1.6;
        margin-bottom: 32px;
    }
</style>
