---
import Logo from "@/components/Logo.astro";
import IconList from "@/components/IconList.astro";
---

<footer>
    <div class="container footer-content">
        <Logo />

        <div>
            <IconList />
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: var(--clr-footer-bg);
    }
    .footer-content {
        display: flex;
        justify-content: space-between;
    }
    div {
        display: flex;
    }
    div > .btn {
        display: grid;
        place-content: center;
        min-width: 72px;
        cursor: pointer;
    }
    nav > .btn:hover {
        background-color: #ccc;
    }

    footer :global(ul[role="list"] > :not(li)) {
        display: none;
    }

    @media only screen and (max-width: 475px) {
        .footer-content {
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        div {
            padding: 1rem;
        }
    }
</style>
