---
import IconList from '../components/IconList.astro'
import HeroeImg from 'src/assets/images/monitor-web.jpg'
---

<main>
    <div class='text-icons'>
        <h1>
            Frontend Developer specialized in <span class='highlight'
                >UI/UX</span
            >
        </h1>
        <div class='description'>
            <p>
                With a solid foundation in Digital Design, I can bridge the gap
                between design and development
            </p>
            <p>
                I am currently open to work. Feel free to reach out to me at
                <a
                    href='mailto:mh94.design@gmail.com?subject=Contact from portfolio'
                >
                    mh94.design@gmail.com
                </a>
            </p>
        </div>
        <IconList />
    </div>

    <picture>
        <img src={HeroeImg.src} alt='Monitor web development' />
    </picture>
</main>

<style>
    main {
        display: grid;
        grid-template-columns: 4fr 5fr;
        align-items: center;
        gap: 50px;
    }
    .text-icons {
        display: flex;
        flex-direction: column;
        /* outline: 1px solid green; */
    }
    h1 {
        /* font-size: 40px; */
        color: var(--clr-accent);
    }
    .highlight {
        color: var(--clr-title-highlight);
    }
    .description {
        color: var(--clr-subtitle);
        margin-bottom: 32px;
    }
    a {
        color: var(--clr-title-highlight);
    }

    picture {
        container-type: inline-size;
        container-name: img;
        display: grid;
        place-content: center;
        max-height: 420px;
        width: min(100%, 620px);
        overflow: hidden;
    }
    img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    @container img (width < 475px) {
    }

    @media screen and (max-width: 810px) {
        main {
            display: flex;
            gap: 20px;
            flex-direction: column;
        }
        picture {
            min-height: 258px;
            order: -1;
        }
        .description {
            margin-bottom: 0;
        }
    }
</style>
