---
import IconList from '../components/IconList.astro'
import HeroeImg from 'src/assets/images/marco.jpg'
---

<main>
    <div class='text-icons'>
        <h1>
            I'm Marco Hernandez, <span class='highlight'
                >Frontend Developer</span
            >
        </h1>
        <div class='description'>
            <p>
                My passion lies in UI engineering, where I merge design and
                development to create seamless, functional, and creative digital
                experiences.
            </p>
        </div>
        <IconList />
    </div>

    <picture>
        <img src={HeroeImg.src} alt='Monitor web development' />
    </picture>
</main>

<style>
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
    }
    .text-icons {
        display: flex;
        flex-direction: column;
        /* outline: 1px solid green; */
    }
    h1 {
        /* font-size: 40px; */
        font-family: var(--font-hero);
        line-height: 1.2;
        font-weight: 700;
        color: var(--clr-accent);
    }
    .highlight {
        color: var(--clr-title-highlight);
    }
    .description {
        color: var(--clr-subtitle);
        margin-bottom: 32px;
    }
    a {
        color: var(--clr-title-highlight);
    }

    picture {
        container-type: inline-size;
        container-name: img;
        display: grid;
        place-content: end;
        max-height: 420px;
        max-width: 420px;
        /* background-color: red; */
    }
    img {
        /* background-color: hsla(226, 100%, 18%); */
        border: 4px solid var(--clr-accent);
        border-radius: 20%;
        /* mask-image: linear-gradient(black 80%, transparent); */
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
    @container img (width < 475px) {
    }

    @media screen and (max-width: 810px) {
        main {
            display: flex;
            gap: 20px;
            flex-direction: column;
        }
        picture {
            height: 220px;
            width: 220px;
            order: -1;
        }
        .description {
            margin-bottom: 0;
        }
    }
</style>
