---
const skills = await Astro.glob('../assets/icons/skills/*.astro')
---

<section>
    <h2>Skills</h2>

    <div class='skills-wrapper'>
        {skills.map((skill) => <skill.default />)}
    </div>
</section>

<style>
    .skills-wrapper {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(9ch, 1fr));
        gap: 2.5rem 2rem;
        padding: 0;
        max-width: 1080px;
    }
    :global(.skill-icon) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    :global(.skill-icon span) {
        font-size: var(--step-0);
    }
    :global(body.dark-theme .alt-dark:not(#jQuery, #astro) path) {
        fill: white;
    }
    :global(body.dark-theme .alt-dark#jQuery path:not(:first-child)) {
        fill: white;
    }
    :global(body.dark-theme .alt-dark#astro path:not(:last-child)) {
        fill: white;
    }

    @media only screen and (max-width: 475px) {
        .skills-wrapper {
            grid-template-columns: repeat(3, minmax(5ch, 1fr));
            gap: 2.5rem 1.25rem;
        }
    }
</style>
