---
import "@/styles/reset.css";
import "@/styles/main.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio Marco Hernandez" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<Header />
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style is:global>
	main,
	section {
		box-sizing: border-box;
		margin-inline: auto;
		width: min(100%, 1280px);
		padding: 40px min(10%, 100px);
	}
	@media only screen and (max-width: 475px) {
		main,
		section {
			padding: 20px;
		}
	}
</style>
